.MoviesItem {
    width: 445px;
    height: 820px;
    margin: 10px;
    align-self: flex-start;
    box-shadow: 2px 2px 2px grey !important
}

.MoviesItem:hover {
    box-shadow: 5px 5px 5px grey !important;
}

.MoviesItem:hover img {
    filter: brightness(80%);
}

.MoviesItem-no-image {
    max-width: 500px;
    height: 668px;
    background-image: url(../images/image-not_500x750.png);
    background-position: center;
}

.CardTitle {
    padding: 4px 16px 16px !important;
}

.CardTitle > span:nth-child(1) {
    font-size: 18px !important;
    line-height: 27px !important;
    max-width: 330px;
}

.TitleInformation {
    float: right;
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 0;
    margin: 0;
    text-align: right;
}

.TitleInformation__rating {
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.rating__number {
    color: white;
    vertical-align: top;
    position: relative;
    top: 3px;
    right: 2px;
}

.rating__icon {
    width: 20px !important;
    height: 20px !important;
}
