.MoviesList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
}

.MoviesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.PageHeader {
    text-align: center;
    font-size: 27px!important;
    line-height: 70px!important;
}
