@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: auto;
    background-image: url("./images/house.png");
}

.App__content {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    height: auto;
}

.App__footer {
    background: rgb(0, 135, 138);
}


